.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.h1 {
    color: #FFFFFF;
    font-size: 27px;
}

.p {
    color: var(--color--subtitle);
    font-size: 14px;
}

button {
    cursor: pointer;
    border-radius: 20px;
    border: none;
}
.extensionCard {
    background-color: var(--color-on-background) ;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff8e;
    cursor: pointer;
    max-width: 100%;
    width: 350px;
    height: 180px;
}

.extensionsColumn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .extensionsColumn {
    grid-template-columns: repeat(2, 1fr); 
    gap: 12px;
  }

  .extensionCard {
    padding: 18px;
  }

  .removeBtn {
    width: 85px;
    height: 32px;
  }

  .allBtn, .activeBtn, .inactiveBtn {
    height: 32px;
  }
}

.removeBtn {
    background-color: transparent;
    border: 1px solid #ffffff7c;
    height: 30px;
    width: 79px;
    color: var(--color-text);
}

.removeBtn:hover {
    background-color: #ffffff1f;
}

.filters {
    display: flex;
    gap: 8px; 
    margin-left: auto;
}
.allBtn {
    width: 45px;
    height: 32px;
}

.activeBtn {
    width: 65px;
    height: 32px;
}

.inactiveBtn {
    width: 70px;
    height: 32px;
}

.btn {
background-color: var(--color-on-background);
  color: #ffffff;
}

.active {
  background-color: var(--color-primary);
  color: var(--color-background-secondary);
}

.menu {
  display: flex;
}

.removeAndCheckbox {
    display: flex;
    justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px; 
  height: 16px;  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  #52586A;
  transition: 0.3s;
  border-radius: 20px;
  pointer-events: none; 
}

.slider::before {
  position: absolute;
  content: "";
  height: 12px;     
  width: 12px;
  left: 2px;       
  bottom: 2px;      
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--color-primary);
}

.switch input:checked + .slider::before {
  transform: translateX(14px);
}



