/* Estilização do botão checkbox*/

.switch {
  position: relative;
  display: inline-block;
  width: 30px; 
  height: 16px;  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  #52586A;
  transition: 0.3s;
  border-radius: 20px;
  pointer-events: none; 
}

.slider::before {
  position: absolute;
  content: "";
  height: 12px;     
  width: 12px;
  left: 2px;       
  bottom: 2px;      
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--color-primary);
}

.switch input:checked + .slider::before {
  transform: translateX(14px);
}



