* {
    color:#ffffff;
}

.h1{
   font-size: 50px;
}

.page {
  background-color: var(--color-on-background);
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description{
    text-align: center;
}


